[#macro header]
<!DOCTYPE html>
<html>
<head>
    [#include "head.html"]
    [#nested]
</head>
[/#macro]

[#macro body id="" class="gray-bg"]
<body id="${id}" class="${class}">
    [#nested]
<!--</body>-->
[/#macro]

[#macro footer]
<!-- customer -->
[#nested]
<script type="text/javascript">
    $(function () {
        /**
         * 日期控件处理
         */
        $('.jmonkey-datepicker').datepicker({
            autoclose: true,
            calendarWeeks: false,     //是否显示今年是第几周
            clearBtn: false,          //显示清除按钮
            forceParse: true,         //是否强制转换不符合格式的字符串
            format: 'yyyy-mm-dd',     //日期格式
            keyboardNavigation: true, //是否显示箭头导航
            language: 'zh-CN',           //语言
            minViewMode: 0,
            orientation: "auto",      //方向
            rtl: true,
            startView: 0,             //开始显示
            todayBtn: false,           //今天按钮
            todayHighlight: false,     //今天高亮
            weekStart: 0              //星期几是开始
        });

        !$('body').hasClass('noAutoFix') && $('body > div').slimScroll({height: '100%', railOpacity: 0.4, wheelStep: 10});
    });
</script>
</body>
</html>
[/#macro]